<div class="container-fluid  input-group  px-3 mx-auto my-2">
    <h2>My Collection</h2>
    <ul>
        {{#each cards}}
        <li>
            <img src="{{this.img_uri}}" alt="{{this.card_name}}">
            <h3>{{this.card_name}}</h3>
            <p>{{this.oracle_text}}</p>
            <p>Rarity: {{this.rarity}}</p>
        </li>
        {{/each}}
    </ul>



</div>

